# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
#*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### jsk

# emacs
*~
\#*\#

# specific
Words/alpha-strokes-not.lst
Words/alpha-strokes-not.lst.edited
Words/alpha-strokes.lst
Words/alpha-strokes.lst.edited.rejects
Words/alpha-strokes.lst.edited.rejects.edited
Words/asetniop.html
Words/asetniop.words.lst.match
Words/civilization.txt
Words/count_1w.txt
Words/count_1w.txt.1000
Words/count_1w.txt.10000.dict
Words/count_1w.txt.2000
Words/count_1w.txt.3000
Words/count_1w.txt.5000
Words/count_1w.txt.7500
Words/linuxwords
Words/selfmatch.edited
Words/selfmatch.lst
Words/shorts-self.lst
junk*
run.html
spell.generated.lst
test.js
asdfg.generated.json.js
diff
Words/civilization.txt.match
Words/civilization.txt.match.sorted
Words/keto.txt
asdfg-words.generated.lst
asdfg.generated.lst
civilization.txt.freq
test.pl

